AppleTVRemoteApp/Sources/Atmo/Resources/Python/
AppleTVRemoteApp/.build/
.build/
AppleTVRemoteApp/dist/
AppleTVRemoteApp/dist-debug/
.venv/
**/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
pip-wheel-metadata/
*.egg-info/
.eggs/
.python-version
.pytest_cache/
.coverage
.tox/
.nox/
*.dist-info/
.DS_Store
